//Colors
$background: linear-gradient(90.35deg, #FBFDFE 0%, #EFFAFF 100%);
$text-color:#1F2A3C;
$socials-logo-color:#1F2A3C;
$steps-color:#24BCFF;
$page-color-form-active: #81c6f785;

//Font name
$font-family: "Century Gothic";

// Viewport

$vp-desktopLarge: 1920px;
$vp-desktopMedium: 1600px;
$vp-desktopSmall: 1366px;
$vp-tabletLarge: 1024px;
$vp-tabletSmall: 768px;
$vp-mobileLarge: 480px;
$vp-mobileSmall: 320px;
