.header-img__cerculs {
    position: absolute;
    z-index: 0;
    width: 110.196078%;
    height: auto;
    right: -12.455516%;

    transition: all 1.2s ease-out;
}

.header-img__man {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 74.3137255%;
    height: auto;

    z-index: 1;
    transition: all 1.2s ease-out;
}

.header-img__smoke {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 71.17647%;
    height: auto;
    transition: all 1.2s ease-out;
}

.header-img:hover .header-img__cerculs {
    transform: scale(0.89);
}

.header-img:hover .header-img__smoke {
    transform: scale(1.08);
}

.header-img:hover .header-img__man {
    transform: scale(1.038);
}