.page-header {
    background: $background;
    width: 100%;
    height: 100vh;
    min-height: 970px;
}

.page-header__nav {
    position: relative;
    z-index: 1;
}

.page-header__content {
    display: flex;
}

.page-header__offer {
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.page-header__button {
    margin-bottom: 62px;
    margin-left: 147px;
}
.page-header__socials {
    position: relative;
    z-index: 1;
}

.page-header__img {
    position: absolute;
    height: 47.135vw;
    width: 53.125vw;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
}