.page{
    height: 100%;
    font-family: 'Century Gothic';
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(92.05deg, rgba(241, 248, 252, 0.2) 0%, rgba(202, 237, 255, 0.2) 99.29%);  
}

.page__body{
    min-height: 100%;
    margin:0;
    color: $text-color;
}

.page__body.lock {
    overflow: hidden;
}

.page-title {
    text-align: center;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 110px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;

    @media (max-width:$vp-desktopMedium) {
        font-size: 70px;
        line-height: 86px;
        margin-bottom: 60px;    
    }

    @media (max-width:$vp-desktopSmall) {
        font-size: 60px;
        line-height: 74px;
        margin-bottom: 50px;
    }

    @media (max-width:$vp-tabletLarge) {
        font-size: 50px;
        line-height: 61px;
        margin-bottom: 40px;    
    }

    @media (max-width:$vp-tabletSmall) {
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 30px;
    }

    @media (max-width:$vp-mobileLarge) {
        font-size: 32px;
        line-height: 39px;   
    }

    @media (max-width:$vp-mobileSmall) {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 24px;   
    }
}

.page-title--white {
    color:white;
}