.portfolio {
    position: relative;
    overflow: hidden;
    height: 1181px;
    box-sizing: border-box;
}
.portfolio-title {
    position: relative;
    z-index: 10;
}

.portfolio__list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(0);
}

.portfolio__button {
    position: absolute;
    top: 51.9052%;
    z-index: 3;
}

.portfolio__button--next {
    right: 5.21%;
}

.portfolio__button--prev {
    left: 5.21%;
}

.portfolio-button::before {
    background: url('../img/prortfolio/case-button-image.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    width: 30px;
    height: 27px
}