.skills-item {
    display: flex;
    gap: 30px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;

    @media (max-width: $vp-desktopMedium) {
        font-size: 20px;
        line-height: 28px;
    }

    @media (max-width: $vp-desktopSmall) {
        font-size: 16px;
        line-height: 20px;
    }

    @media (max-width: $vp-tabletLarge) {
        font-size: 14px;
        line-height: 18px;
    }
}

.skills-item__name {
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: $text-color;
    margin-bottom: 10px;
}

.skills-item__text {
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: $text-color;
    max-width: 28.54vw;
}

.skills-item__img {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 600ms ease-out;
    position: relative;
}

.skills-img {
    opacity: 1;
    transition: all 600ms ease-out;
}

//Icon of skills, which shows when hover: basic

.skills-item__img::after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 600ms ease-out;
}

//Icon of skills, which shows when hover: urls and sizes

#Freelance-icon::after {
    background: url('../img/icons/skills/Freelance_icon\ hover.svg') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 60px;
    height: 80px;
}

#Skillbox-icon::after {
    background: url('../img/icons/skills/Skillbox\ logo\ hover.svg') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 60px;
    height: 60px;
}

#WayUp-icon::after {
    background: url('../img/icons/skills/WayUp\ logo\ hover.svg') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 60px;
    height: 60px;
}

#Alchemy-icon::after {
    background: url('../img/icons/skills/Alchemy\ logo\ hover.svg') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 60px;
    height: 60px;
}

#Figma-icon::after {
    background: url('../img/icons/skills/Figma-hover.svg') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 55px;
    height: 82px;
}

#PS-icon::after {
    background: url('../img/icons/skills/PS-logo-hover.svg') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 93px;
    height: 82px;
}
#AI-icon::after {
    background: url('../img/icons/skills/AI-logo-hover.svg') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 80px;
    height: 82px;
}
#AE-icon::after {
    background: url('../img/icons/skills/AE-logo-hover.svg') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 105px;
    height: 82px;
}

#HTMLandCss-icon::after {
    background: url('../img/icons/skills/HTMLandCss-hover.svg') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 120px;
    height: 77px;
}

.skills-column--right .skills-item__img {
    flex: 1 1 auto;
}

//level of instrument

.skills-item__level {
    position: relative;
    width: 28.8vw;
    height: 14px;
    background: linear-gradient(92.05deg, rgba(9, 28, 145, 0.2) 0%, rgba(36, 188, 255, 0.2) 99.29%);
    border-radius: 7.5px;
    overflow: hidden;
    margin-bottom: 19px;
    transition: all 600ms ease-out;
}

.skills-item__level::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background: linear-gradient(92.05deg, #091C91 0%, #24BCFF 99.29%);    border-radius: 7.5px;
}

.skills-item__level--1::after {
    width: 80%;
}

.skills-item__level--2::after {
    width: 65%;
}

.skills-item__level--3::after {
    width: 34%;
}

.skills-item__level--4::after {
    width: 20%;
}

.skills-item__level--5::after {
    width: 43%;
}

//Text

.skills-column--right .skills-item__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: $vp-desktopMedium) {
        font-size: 16px;
        line-height: 20px;
    }

    @media (max-width: $vp-desktopSmall) {
        font-size: 14px;
        line-height: 20px;
    }

    @media (max-width: $vp-mobileSmall) {
        font-size: 14px;
        line-height: 18px;
    }
}

.skills-item__text span {
    color: #B0BFC6;
}

//Hovers

.skills-item:hover .skills-item__img {
    transform: scale(1.16);
}

.skills-item:hover .skills-item__img::after{
    opacity: 1;
}

.skills-item:hover .skills-img{
    opacity: 0;
}

.skills-item:hover .skills-item__level {
    transform:scaleY(114.285714%);
}