.skills-item {
    display: flex;
    gap: 30px;
}

.skills-item__name {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $text-color;
    margin-bottom: 10px;
}

.skills-item__text {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: $text-color;
    max-width: 28.54vw;
}

.skills-item__img {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 600ms ease-out;
    position: relative;
}

.skills-column--right .skills-item__img {
    flex: 1 1 auto;
}

//level of instrument

.skills-item__level {
    position: relative;
    width: 28.8vw;
    height: 14px;
    background: linear-gradient(92.05deg, rgba(9, 28, 145, 0.2) 0%, rgba(36, 188, 255, 0.2) 99.29%);
    border-radius: 7.5px;
    overflow: hidden;
    margin-bottom: 19px;
}

.skills-item__level::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 80%;
    height: 14px;
    background: linear-gradient(92.05deg, #091C91 0%, #24BCFF 99.29%);    border-radius: 7.5px;
}

.skills-column--right .skills-item__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.skills-item__text span {
    color: #B0BFC6;
}

.skills-item:hover .skills-item__img {
    transform: scale(1.16);
}