.slide {
    width: 100vw;
    height: 100%;
    position: relative;
    list-style: none;
}

.slide-frame, .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide-frame {
    z-index: 2;
}

.slide-frame__mockup, .slide-content__wrapper {
    position: absolute;
    width: 59.166%;
    top: 32.93818%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slide-content__mockup {
    width: 100%;
    margin-bottom: 40px;
}

.slide-content__mockup img {
    width: 100%;
    height: auto;
}

.slide-frame__mockup img{
    width: 100%;
    height: auto;
}

.slide-frame__bg, .slide-content__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slide-frame__bg {
    background: linear-gradient(92.05deg, #091C91 0%, #24BCFF 99.29%);
}

.slide-content__bg {
    width: 100%;
    height: 100%;
}

.slide-content__bg img {
    width: 100%;
    height: auto;
}

.slide-label {
    position: absolute;
    bottom: 107px;
    left: 392px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    z-index: 2;

    color: white;
}

//Slide label

.slide-label__title {
    font-weight: 400;
    
    padding: 0;
    margin: 0;
}

.slide-label__name {
    font-weight: 700;

    padding: 0;
    margin: 0;
}

.slide-label--onhover.slide-label {
    position: absolute;
    top: 187px;
    bottom: initial;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    font-size: 46px;
    line-height: 56px;
    letter-spacing: 0.01em;

    color: black;
}

.slide__button {
    --button-moving-part-before-background: linear-gradient(92.05deg, #A2B6ED 0%, #216CCF 99.29%); 
    width: 327px;
    // position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slide__button::before {
    background: var(--button-moving-part-before-background);
}