.socials {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-left: 184px;
}

.socials__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.socials__icon {
    transform: scale(0);
    transition: 600ms ease-out;
}

.socials__item:hover .socials__icon {
    transform: scale(1);
}
