.steps {
    // background: linear-gradient(92.05deg, rgba(120, 209, 255, 0.2) 0%, rgba(245, 245, 245, 0.2) 99.29%);
    position: relative;
}

.steps__page-title {
    margin-bottom: 40px;
    position: relative;
    z-index: 5;
    color: $text-color;
}

.steps__describtion {
    position: relative;
    z-index: 5;
    font-weight: 400;
    text-align: center;
    color: $text-color;

    margin-bottom: 40px;
}

.steps__list {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
    z-index: 0;
}